@media (min-width: 790px) {
  .who-am-i > button {
    font-size: 22px;
  }
  .nav-pills {
    font-size: 22px;
  }
}
@media (min-width: 980px) {
  .who-am-i > button {
    display: block;
    margin: auto;
    width: 50%
  }
}

/* General styles */

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

body {
  font: 15px 'Lato', sans-serif;
  background-color: #2D3142;
  color: #fff;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', 'Palatino', serif;
}

p {
  font: 18px 'Lato', sans-serif;
}

footer {
  padding: 50px 50px 30px;
}

h2 {
  padding: 15px 15px;
  font-family: 'Montserrat', 'Palatino', serif;
}

h3 {
  padding: 10px 10px;
}

/* Utilities */
.newsletter {
  margin : 0 !important;
  background-color: #555B6E;
  color: #Fff;
  padding: 20px 50px 30px;
}

.who-am-i > button {
  margin: 10px;
}

.who-am-i > button:hover {
  background-color: #EF8354;
}

.who-am-i > button:active {
  background-color: #EF8354;
}

.portfolio > a:active {
  background-color: #EF8354;
}

.more-button:active {
  background-color: #EF8354;
  color: #2D3142;
}

.more-button:hover {
  background-color: #EF8354;
  color: #2D3142;
}

.hyperlink {
  color: #EF8354;
}

.hyperlink:hover {
  color: #2D3142;
}

.red-hyperlink:hover {
  color: #EF8354;
}

.navbar-nav > li{
  padding-left: 40px;
  padding-right: 40px;
}

.purple-bg {
  background-color: #2D3142;
}

.blue-bg {
  background-color: #4F5D75;
}

.white-bg {
  background-color: #FAF9F9;
}

.red-bg {
  background-color: #EF8354;
}

.gradient-color {
  background-color: #EF8354;
  background-image: linear-gradient(to right, #4F5D75, #EF8354)
}

.white-text {
  color: #fff;
}

.purple-text {
  color: #2D3142;
}

.black-text {
  color: #000;
}

.clear > h4 > input:hover {
  background-color: #EF8354;
}

.mc-field-group > input {
  color: #2D3142;
}

.regular-font {
  font: 20px 'Lato', sans-serif;
}

.subtitle {
  font: 'Montserrat', 'Palatino', serif;
}

.text-section {
  padding: 20px 50px 30px;
}

.anchor-link:hover {
  color: #89B0AE;
}

.dropdown-menu a:active {
  background-color: #4F5D75;
}

.navbar {
  margin : 0 !important;
}

.small-emoji {
  height: 2rem;
  width: 2rem;
}

/* Only 1 Page */

.personal-pic {
  width: 50%;
  float: right;
  padding: 30px 0 30px 30px;
}

.who-am-i-pic {
  width: 50%;
  float: left;
  padding: 30px 30px 30px 0;
}

.newsletter div {
  padding: 10px;
}

.item {
  padding: 15px;
}

a.white-text:hover {
  color: #EF8354;
}

a.white-text:active {
  color: #EF8354;
}

.socials a {
  padding: 20px 10px;
}

.tab-values > .tab-pane {
  padding-top: 20px;
}

.tab-portfolio > .tab-pane {
  padding: 20px;
  text-align: left;
}

.col-sm-6 {
  padding: 20px 20px;
}

.my-quotes {
  padding: 20px 0 30px;
}

.carousel-item {
  padding: 50px 150px;
}

.values a {
  color: #fff;
}

.values a:hover {
  color: #2D3142;
}

.banner {
  background-color: #EF8354;
  padding: 50px 50px;
  background-image: linear-gradient(to right, #4F5D75, #EF8354);
}

.page-emoji {
    height: 4rem;
    width: 4rem;
}


.button:hover {
  color: #2D3142;
}

.my-name-is {
  align-items: center;
}

.nav-pills > .nav-link {
  margin: 10px;
}

.description-item {
  text-align: left;
  color: #fff;
}

.description li {
  font: 18px 'Lato', sans-serif;
}
